@using AttendanceApp.Data
@model IEnumerable<Player>

<div>
    <h6>List of all player:</h6>
</div>

@{
    foreach(var player in Model)
    {
        <div>
            <h3>@player.Name</h3>
        </div>
    }
}